<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="mdn_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="mdn_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

	<extension point="org.eclipse.ui.views">
	        <view id="mdn.diagram.m2t.TransformationView"
	             name="Application Code"
	          class="mdn.diagram.m2t.TransformationView"
	          icon="icons/obj16/transformation.png"/>
	</extension>
	
	<extension point="org.eclipse.ui.actionSets">
	   <actionSet
	            description="Export para script"
	            id="mdn.diagram.m2t.ModelToTextAction.actionSet"
	            label="Export to script  "
	            visible="true">
	      <action
	               class="mdn.diagram.m2t.ModelToTextAction"
	               icon="icons/obj16/transformation.png"
	               id="mdn.diagram.m2t.ModelToTextAction"
	               label="Export to script"
	               mode="FORCE_TEXT"
	               style="push"
	               toolbarPath="transformationGroup"
	               tooltip="Export to script  ">
	      </action>
	   </actionSet>
	</extension>
	
	<extension point="org.eclipse.ui.views">
	        <view id="mdn.diagram.m2t.TransformationMininetView"
	             name="Mininet Script"
	          class="mdn.diagram.m2t.TransformationMininetView"
	          icon="icons/obj16/transformation.png"/>
	</extension>
	
	<extension point="org.eclipse.ui.actionSets">
	   <actionSet
	            description="Export to Mininet"
	            id="mdn.diagram.m2t.ModelToMininetAction.actionSet"
	            label="Export to Mininet"
	            visible="true">
	      <action
	               class="mdn.diagram.m2t.ModelToMininetAction"
	               icon="icons/obj16/transformation.png"
	               id="mdn.diagram.m2t.ModelToMininetAction"
	               label="Export to Mininet"
	               mode="FORCE_TEXT"
	               style="push"
	               toolbarPath="transformationGroup"
	               tooltip="Export to Mininet">
	      </action>
	   </actionSet>
	</extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="mdn.diagram.part.MdnDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MdnDiagramFile.gif"
         extensions="mdn_diagram"
         default="true"
         class="mdn.diagram.part.MdnDiagramEditor"
         matchingStrategy="mdn.diagram.part.MdnMatchingStrategy"
         contributorClass="mdn.diagram.part.MdnDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="mdn.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MdnDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="mdn.diagram.part.MdnCreationWizard"
  	     id="mdn.diagram.part.MdnCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MdnPresentation">
         <Priority name="Lowest"/>
         <ViewId id="mdn.diagram.part.MdnDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="MdnPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="mdn.diagram.part.MdnDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MdnPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="mdn.diagram.part.MdnDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MdnRender">
         <Priority name="Lowest"/>
         <ViewId id="mdn.diagram.part.MdnDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   
      

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mdn.diagram.providers.MdnValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="mdn.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="mdn.diagram.general"
            name="%prefpage.mdn.diagram.general"
            class="mdn.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="mdn.diagram.appearance"
            name="%prefpage.mdn.diagram.appearance"
            category="mdn.diagram.general"
            class="mdn.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="mdn.diagram.connections"
            name="%prefpage.mdn.diagram.connections"
            category="mdn.diagram.general"
            class="mdn.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="mdn.diagram.printing"
            name="%prefpage.mdn.diagram.printing"
            category="mdn.diagram.general"
            class="mdn.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="mdn.diagram.rulersAndGrid"
            name="%prefpage.mdn.diagram.rulersAndGrid"
            category="mdn.diagram.general"
            class="mdn.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="mdn.diagram"
            labelProvider="mdn.diagram.sheet.MdnSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="mdn.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="mdn.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="mdn.diagram.sheet.MdnPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="mdn.diagram.providers.MdnViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="mdn"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Mdn"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2011,2010,2007,2008,2009,2004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4004,4006,4022,4023,4009,4016,4015,4012,4013,4017,4018,4019"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="mdn.diagram.providers.MdnEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Mdn"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2011,2010,2007,2008,2009,2004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4004,4006,4022,4023,4009,4016,4015,4012,4013,4017,4018,4019"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5011,5010,5007,5008,5009,5004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="mdn.diagram.providers.MdnModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="mdn.diagram.edit.parts.SdnEditPart" id="Sdn_1000"/>
         <object class="mdn.diagram.edit.parts.ControllerEditPart" id="Controller_2001"/>
         <object class="mdn.diagram.edit.parts.HostEditPart" id="Host_2002"/>
         <object class="mdn.diagram.edit.parts.SwitchEditPart" id="Switch_2003"/>
         <object class="mdn.diagram.edit.parts.ActionEditPart" id="Action_2011"/>
         <object class="mdn.diagram.edit.parts.ConditionEditPart" id="Condition_2010"/>
         <object class="mdn.diagram.edit.parts.TrafficEditPart" id="Traffic_2007"/>
         <object class="mdn.diagram.edit.parts.TimeEditPart" id="Time_2008"/>
         <object class="mdn.diagram.edit.parts.PacketHeaderEditPart" id="PacketHeader_2009"/>
         <object class="mdn.diagram.edit.parts.PolicyEditPart" id="Policy_2004"/>
         <context elements="Sdn_1000,Controller_2001,Host_2002,Switch_2003,Action_2011,Condition_2010,Traffic_2007,Time_2008,PacketHeader_2009,Policy_2004,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="mdn.diagram.providers.MdnIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="mdn.diagram.providers.MdnParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="mdn.diagram.providers.MdnShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003,2011,2010,2007,2008,2009,2004"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Sdn_1000"
               name="%metatype.name.Sdn_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Sdn"
               edithelper="mdn.diagram.edit.helpers.SdnEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Controller_2001"
               name="%metatype.name.Controller_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Controller"
               edithelper="mdn.diagram.edit.helpers.ControllerEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Host_2002"
               name="%metatype.name.Host_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Host"
               edithelper="mdn.diagram.edit.helpers.HostEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Switch_2003"
               name="%metatype.name.Switch_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Switch"
               edithelper="mdn.diagram.edit.helpers.SwitchEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Action_2011"
               name="%metatype.name.Action_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Action"
               edithelper="mdn.diagram.edit.helpers.ActionEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Condition_2010"
               name="%metatype.name.Condition_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Condition"
               edithelper="mdn.diagram.edit.helpers.ConditionEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Traffic_2007"
               name="%metatype.name.Traffic_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Traffic"
               edithelper="mdn.diagram.edit.helpers.TrafficEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Time_2008"
               name="%metatype.name.Time_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Time"
               edithelper="mdn.diagram.edit.helpers.TimeEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.PacketHeader_2009"
               name="%metatype.name.PacketHeader_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PacketHeader"
               edithelper="mdn.diagram.edit.helpers.PacketHeaderEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <metamodelType
               id="mdn.diagram.Policy_2004"
               name="%metatype.name.Policy_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Policy"
               edithelper="mdn.diagram.edit.helpers.PolicyEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.HostHostSwitch_4004"
               name="%metatype.name.HostHostSwitch_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.SwitchSwitchController_4006"
               name="%metatype.name.SwitchSwitchController_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.SwitchSwitches_4022"
               name="%metatype.name.SwitchSwitches_4022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4022"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.PolicySourceHostPolicy_4023"
               name="%metatype.name.PolicySourceHostPolicy_4023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.PolicyTargetHostPolicy_4009"
               name="%metatype.name.PolicyTargetHostPolicy_4009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.PolicyPolicyCondition_4016"
               name="%metatype.name.PolicyPolicyCondition_4016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.PolicyPolicyAction_4015"
               name="%metatype.name.PolicyPolicyAction_4015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.ActionActionPacketHeader_4012"
               name="%metatype.name.ActionActionPacketHeader_4012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.ActionActionForwardToNode_4013"
               name="%metatype.name.ActionActionForwardToNode_4013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.ConditionConditionTime_4017"
               name="%metatype.name.ConditionConditionTime_4017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4017"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.ConditionConditionTraffic_4018"
               name="%metatype.name.ConditionConditionTraffic_4018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4018"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="mdn">
         <specializationType
               id="mdn.diagram.ConditionConditionPacket_4019"
               name="%metatype.name.ConditionConditionPacket_4019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4019"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="mdn.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="mdn.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="mdn.diagram.TypeContext">
         <elementType ref="mdn.diagram.Sdn_1000"/>
         <elementType ref="mdn.diagram.Controller_2001"/>
         <elementType ref="mdn.diagram.Host_2002"/>
         <elementType ref="mdn.diagram.Switch_2003"/>
         <elementType ref="mdn.diagram.Action_2011"/>
         <elementType ref="mdn.diagram.Condition_2010"/>
         <elementType ref="mdn.diagram.Traffic_2007"/>
         <elementType ref="mdn.diagram.Time_2008"/>
         <elementType ref="mdn.diagram.PacketHeader_2009"/>
         <elementType ref="mdn.diagram.Policy_2004"/>
         <elementType ref="mdn.diagram.HostHostSwitch_4004"/>
         <elementType ref="mdn.diagram.SwitchSwitchController_4006"/>
         <elementType ref="mdn.diagram.SwitchSwitches_4022"/>
         <elementType ref="mdn.diagram.PolicySourceHostPolicy_4023"/>
         <elementType ref="mdn.diagram.PolicyTargetHostPolicy_4009"/>
         <elementType ref="mdn.diagram.PolicyPolicyCondition_4016"/>
         <elementType ref="mdn.diagram.PolicyPolicyAction_4015"/>
         <elementType ref="mdn.diagram.ActionActionPacketHeader_4012"/>
         <elementType ref="mdn.diagram.ActionActionForwardToNode_4013"/>
         <elementType ref="mdn.diagram.ConditionConditionTime_4017"/>
         <elementType ref="mdn.diagram.ConditionConditionTraffic_4018"/>
         <elementType ref="mdn.diagram.ConditionConditionPacket_4019"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   
	   
	   
      
	      <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="mdn.diagram.part.MdnDiagramUpdateCommand"
         description="%update.diagram.description"
         id="mdn.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="mdn.diagram.updateDiagram"
         contextId="mdn.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="mdn.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="mdn.diagram.part.MdnDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="mdn.diagram.edit.parts.SdnEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="mdn.diagram.part.MdnDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="mdn.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="mdn.diagram.part.MdnDiagramEditorID"
         defaultHandler="mdn.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>





<extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="mdn.diagram.InitDiagram"
            nameFilter="*.mdn"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="mdn.diagram.part.MdnInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="mdn.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="mdn.diagram.providers.MdnMarkerNavigationProvider">
         <MarkerType name="mdn.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="Mdn Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>
<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mdn.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="mdn.diagram"
           properties="isURIEditorInput"
           class="mdn.diagram.part.MdnUriEditorInputTester">
       </propertyTester>
   </extension>

<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="mdn.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="mdn.diagram"
           properties="isShortcut"
           class="mdn.diagram.part.MdnShortcutPropertyTester">
       </propertyTester>
   </extension>

<extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="mdn.diagram.resourceContent"/>
			<contentExtension pattern="mdn.diagram.domainResourceContent"/>
            <contentExtension pattern="mdn.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="mdn.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

<extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="mdn.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="mdn.diagram.navigator.MdnNavigatorContentProvider" 
            labelProvider="mdn.diagram.navigator.MdnNavigatorLabelProvider"
            icon="icons/obj16/MdnDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mdn_diagram"/>
               </and>
               <instanceof value="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mdn.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mdn.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="mdn.diagram.navigatorSorter" 
               class="mdn.diagram.navigator.MdnNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="mdn_diagram"/>
                  </and>
                  <instanceof value="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="mdn.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="mdn.diagram.navigator.MdnDomainNavigatorContentProvider" 
            labelProvider="mdn.diagram.navigator.MdnDomainNavigatorLabelProvider"
            icon="icons/obj16/MdnDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mdn"/>
               </and>
               <instanceof value="mdn.diagram.navigator.MdnDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="mdn.diagram.navigator.MdnDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="mdn.diagram.navigatorActionProvider"
            class="mdn.diagram.navigator.MdnNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="mdn.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>

<extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="mdn.diagram.navigatorLinkHelper"
            class="mdn.diagram.navigator.MdnNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="mdn.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="mdn.diagram.navigator.MdnAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>



   <!-- optionally, specify keybindings -->
</plugin>
