<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sdn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mdn.presentation.MdnModelWizardID"
            name="%_UI_MdnModelWizard_label"
            class="mdn.presentation.MdnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MdnModelFile.gif">
         <description>%_UI_MdnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sdn -->
      <editor
            id="mdn.presentation.MdnEditorID"
            name="%_UI_MdnEditor_label"
            icon="icons/full/obj16/MdnModelFile.gif"
            extensions="mdn"
            class="mdn.presentation.MdnEditor"
            contributorClass="mdn.presentation.MdnActionBarContributor">
      </editor>
   </extension>

</plugin>
