<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2006, 2007, 2009-2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <index path="index"/>
      <tocIcon id="plugin" altText="Plugin" openIcon="images/plugin.gif"/>
      <tocIcon id="package" altText="Package" openIcon="images/package.gif"/>
      <tocIcon id="extpoint" altText="Extension Point" openIcon="images/extpoint.gif"/>
      <tocIcon id="external" altText="External Article" openIcon="images/external.gif"/>
   </extension>

  <extension
        point="org.eclipse.ui.intro.configExtension">
     <configExtension
           configId="org.eclipse.ui.intro.universalConfig"
           content="intro/overview.xml">
     </configExtension>
  </extension>

</plugin>

